In [1]:
# Importing packages
import pandas as pd
import json
import numpy as np
from sqlalchemy import create_engine

# EXTRACTION

In [2]:
# Store CSV into a DataFrame
csv_file = "./Resources/trends.csv"
google_query_data_df = pd.read_csv(csv_file)
google_query_data_df.dtypes
google_query_data_df.head()

  location  year         category  rank  query
0   Global  2001  Consumer Brands     1  Nokia
1   Global  2001  Consumer Brands     2   Sony
2   Global  2001  Consumer Brands     3    BMW
3   Global  2001  Consumer Brands     4   Palm
4   Global  2001  Consumer Brands     5  Adobe

In [3]:
google_query_data_df = google_query_data_df[["location", "year", "category", "rank", "query"]].copy()
google_query_data_df

      location  year         category  rank                query
0       Global  2001  Consumer Brands     1                Nokia
1       Global  2001  Consumer Brands     2                 Sony
2       Global  2001  Consumer Brands     3                  BMW
3       Global  2001  Consumer Brands     4                 Palm
4       Global  2001  Consumer Brands     5                Adobe
...        ...   ...              ...   ...                  ...
26950  Vietnam  2020           Là Gì?     1   Virus Corona là gì
26951  Vietnam  2020           Là Gì?     2  Miễn thị thực là gì
26952  Vietnam  2020           Là Gì?     3    Đầu cắt moi là gì
26953  Vietnam  2020           Là Gì?     4  Bệnh bạch hầu là gì
26954  Vietnam  2020           Là Gì?     5       Đông Lào là gì

[26955 rows x 5 columns]

# TRANSFORMATIONS

In [4]:
# Store JSON data into DataFrame 
with open('./Resources/US_category_id.json','r') as f:
    US_location_df = json.loads(f.read())
    US_location_df

In [5]:
df_nested_list = pd.json_normalize(US_location_df, record_path =['items'])
df_nested_list

,kind,etag,id,snippet.title,snippet.assignable,snippet.channelId
0,youtube#videoCategory,IfWa37JGcqZs-jZeAyFGkbeh6bc,1,Film & Animation,True,UCBR8-60-B28hp2BmDPdntcQ
1,youtube#videoCategory,5XGylIs7zkjHh5940dsT5862m1Y,2,Autos & Vehicles,True,UCBR8-60-B28hp2BmDPdntcQ
2,youtube#videoCategory,HCjFMARbBeWjpm6PDfReCOMOZGA,10,Music,True,UCBR8-60-B28hp2BmDPdntcQ
3,youtube#videoCategory,ra8H7xyAfmE2FewsDabE3TUSq10,15,Pets & Animals,True,UCBR8-60-B28hp2BmDPdntcQ
4,youtube#videoCategory,7mqChSJogdF3hSIL-88BfDE-W8M,17,Sports,True,UCBR8-60-B28hp2BmDPdntcQ
5,youtube#videoCategory,0Z6uGkj97NgjD-X3pkA-nL18Hqk,18,Short Movies,False,UCBR8-60-B28hp2BmDPdntcQ
6,youtube#videoCategory,K_-7stg0kIU7eUBOPUa6j5fqIMQ,19,Travel & Events,True,UCBR8-60-B28hp2BmDPdntcQ
7,youtube#videoCategory,I3IL9xGIM3MsULlqR4tvCsEKv98,20,Gaming,True,UCBR8-60-B28hp2BmDPdntcQ
8,youtube#videoCategory,D1W6tq5mMMCV0wtNxf9A6g9wWjU,21,Videoblogging,False,UCBR8-60-B28hp2BmDPdntcQ
9,youtube#videoCategory,QMEBz6mxVdklVaq8JwesPEw_4nI,22,People & Blogs,True,UCBR8-60-B28hp2BmDPdntcQ
10,youtube#videoCategory,v2n6q4JttoL4uUbazrcxNQRGPZk,23,Comedy,True,UCBR8-60-B28hp2BmDPdntcQ
11,youtube#videoCategory,Qi1csjh-POReitZEbR7CUw7dmao,24,Entertainment,True,UCBR8-60-B28hp2BmDPdntcQ
12,youtube#videoCategory,IbGXblQi8v_nOsXjirhul1NVcH8,25,News & Politics,True,UCBR8-60-B28hp2BmDPdntcQ
13,youtube#videoCategory,gYzt8dB8mlod-84ipMtjynYe9xU,26,Howto & Style,True,UCBR8-60-B28hp2BmDPdntcQ
14,youtube#videoCategory,hHUhloYhyMMqVkQ4LH9sr3aRQoU,27,Education,True,UCBR8-60-B28hp2BmDPdntcQ
15,youtube#videoCategory,KEdEtUd4WGk_aACrYI03UhGE33w,28,Science & Technology,True,UCBR8-60-B28hp2BmDPdntcQ
16,youtube#videoCategory,AioSVwhKNpZ2bhtw9SJmrkfY5-I,29,Nonprofits & Activism,True,UCBR8-60-B28hp2BmDPdntcQ
17,youtube#videoCategory,tMfbFvkfuPP8YnUEqpr0gcR6aWU,30,Movies,False,UCBR8-60-B28hp2BmDPdntcQ
18,youtube#videoCategory,totPMF_82XTvVFy0ExFgoKhTklM,31,Anime/Animation,False,UCBR8-60-B28hp2BmDPdntcQ
19,youtube#videoCategory,LNgRKNynxC50MeYV9e6XLPX9JC4,32,Action/Adventure,False,UCBR8-60-B28hp2BmDPdntcQ
20,youtube#videoCategory,harT7v7A6516SPdkqp81Xy5yfBw,33,Classics,False,UCBR8-60-B28hp2BmDPdntcQ
21,youtube#videoCategory,M6Y5Av0CP45r5GgpzamLfHj41y4,34,Comedy,False,UCBR8-60-B28hp2BmDPdntcQ
22,youtube#videoCategory,ZFbZGeeLYWolvmCLQM7m8Yio104,35,Documentary,False,UCBR8-60-B28hp2BmDPdntcQ
23,youtube#videoCategory,FD7naICnxxl8HOnZZJAzrWplzuU,36,Drama,False,UCBR8-60-B28hp2BmDPdntcQ
24,youtube#videoCategory,7fvdoCRRWE89SpB5UaOY8gGdbk0,37,Family,False,UCBR8-60-B28hp2BmDPdntcQ
25,youtube#videoCategory,H6d6HrYDy3EAVAxQR8Z-ShEva1k,38,Foreign,False,UCBR8-60-B28hp2BmDPdntcQ
26,youtube#videoCategory,Z3yra5IR8n2bkjvv3ZheAOQ-tUk,39,Horror,False,UCBR8-60-B28hp2BmDPdntcQ
27,youtube#videoCategory,3F8eda4xnGzGFmlpsFaf5_YpOgU,40,Sci-Fi/Fantasy,False,UCBR8-60-B28hp2BmDPdntcQ
28,youtube#videoCategory,HwuNLGhBJ4PZCEurr-SoqvHuKx8,41,Thriller,False,UCBR8-60-B28hp2BmDPdntcQ
29,youtube#videoCategory,qJ2eDOZWUDj8fbFYAIG_yzPCYRc,42,Shorts,False,UCBR8-60-B28hp2BmDPdntcQ
30,youtube#videoCategory,2sKmjip5q7FHJgqkHvnpMDgmddE,43,Shows,False,UCBR8-60-B28hp2BmDPdntcQ
31,youtube#videoCategory,3IaZjRK8JeIkLMfRDX57P4FFb9A,44,Trailers,False,UCBR8-60-B28hp2BmDPdntcQ

In [6]:
df_nested_list.rename(columns = {'id':'Id','snippet.title': 'Title','snippet.assignable' : 'Flag','kind':'Kind', 'etag':'ETag', 'snippet.channelId' : 'ChannelId' }, inplace = True)
df_nested_list.head()

,Kind,ETag,Id,Title,Flag,ChannelId
0,youtube#videoCategory,IfWa37JGcqZs-jZeAyFGkbeh6bc,1,Film & Animation,True,UCBR8-60-B28hp2BmDPdntcQ
1,youtube#videoCategory,5XGylIs7zkjHh5940dsT5862m1Y,2,Autos & Vehicles,True,UCBR8-60-B28hp2BmDPdntcQ
2,youtube#videoCategory,HCjFMARbBeWjpm6PDfReCOMOZGA,10,Music,True,UCBR8-60-B28hp2BmDPdntcQ
3,youtube#videoCategory,ra8H7xyAfmE2FewsDabE3TUSq10,15,Pets & Animals,True,UCBR8-60-B28hp2BmDPdntcQ
4,youtube#videoCategory,7mqChSJogdF3hSIL-88BfDE-W8M,17,Sports,True,UCBR8-60-B28hp2BmDPdntcQ

In [7]:
# clean dataframe 
df_youtube_list = df_nested_list[["Id", "Title","ETag", "Flag","Kind","ChannelId"]].copy()
df_youtube_list['Id'] = df_youtube_list['Id'].astype(int)
df_youtube_list.dtypes

Id            int64
Title        object
ETag         object
Flag           bool
Kind         object
ChannelId    object
dtype: object

Create a schema for where data will be loaded this is the SQL PART

# .csv file - Google query
CREATE TABLE googlequery (
    location VARCHAR,
    year INT,
    category VARCHAR,
    rank INT,
    query VARCHAR
);

select * from googlequery

#json file

CREATE TABLE youtubelist ( 
    ID INT, 
    Title VARCHAR, 
    ETag VARCHAR, 
    Flag Bool, 
    Kind VARCHAR, 
    ChannelId VARCHAR

);

select * from youtubelist

In [ ]:
# Connect to the db 
connection_string = "postgres:78353A#2324@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection_string}')
# {username}:{password}@localhost:5432/{dbname}

In [ ]:
# Check the tables
engine.table_names()

# LOADING

In [ ]:
# use pandas to load csv converted to DF into database
google_query_data_df.to_sql(name="googlequery", con=engine, if_exists='append', index=False)

In [ ]:
# Use pandas to load json converted to DF into database 
df_youtube_list.to_sql(name='youtubelist', con=engine, if_exists="append", index=False)

In [ ]:

# Confirm data is in the googlequery table
pd.read_sql_query('select * from googlequery', con=engine)

In [ ]:
# Confirm data is in the youtubelist table
pd.read_sql_query('select * from youtubelist', con=engine)